@model MusicWorld.Models.SongViewModel

<h1>@Model.Name</h1>
<p></p>

<div>
    <h5><b>Details:</b></h5>
    <p>Created by: @Model.Artist.Name</p>
    <p>From album: @Model.Album.Name</p>
    <p>Duration: @Model.Duration</p>
</div>


